.detail-message {
    background-color: #fff;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 55vh;
    margin-left: 90px;
}

.detail-message-container {
    padding: 30px;
}