/* .display-emails {
    height: 80px;
    width: 60px;
    display: flex;
    flex-direction: column;
    background-color: #B2BEB5;
    border-radius: 30px;
}

.display-emails-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
} */

/* .dropdown-emails {
width: 100%;
} */

/* .display-emails-container {
    position: absolute;
    top: 110%;
    padding: 15px 30px;
    background: #fff;
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
    font-weight: 500; 
    color: #333;

} */
/* 
.display {
    display: flex;
    align-items: center;
    flex-direction: column;
} */

/* .display {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
} */


.display-emails {
    width: 100%;
    position: relative;
}

.display-emails-container {
    /* position: absolute; */
    top: 110%;
    padding: 15px 30px;
    background: #fff;
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
    font-weight: 500; 
    color: #333;
    margin: 10px 5px;
}

.display {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    cursor: pointer;
}