.zoho-wrapper { 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    width: 100%;
    height: 100vh;
}

.zoho {
    width: 500px;
    user-select: none;
    margin-top: 80px;
    position: relative;
}

.zoho .zoho-btn {
    padding: 15px 10px;
    margin-top: -20px;
    background: #fff;
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
    font-weight: bold;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.zoho .zoho-content {
    position: absolute;
    top: 110%;
    padding: 15px;
    background: #fff;
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
    font-weight: 500;
    color: #333;
    width: 95%;
}

.zoho .zoho-content .zoho-item {
    padding: 10px;
    cursor: pointer;
    transition: all 0.2s;
}

.zoho .zoho-content .zoho-item:hover {
    background-color: #f4f4f4;
}

.zoho-templates {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    margin-left: 10px;
}